section.imaged {
    max-height: 970px;
}

section.imaged div.container {
    max-width: 1300px;
    width: calc(100% - 180px);
}

section.imaged div.contents {
    bottom: 120px;
    top: unset;
}

section.imaged div.contents h1 {
    color: rgb(230, 232, 235);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

section.imaged div.contents p {
    color: rgb(189, 193, 199);
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 140%;
}

/* Get-Started Button */
button.getStarted {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    background-color: rgb(55, 55, 204);
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0px;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue,
        Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, 'Apple Color Emoji', 'Segoe UI Emoji',
        Segoe UI Symbol, sans-serif;
    text-align: center;
}

button.getStarted:hover {
    background-color: rgb(93, 108, 250);
    text-decoration: none;
}

button.getStarted:active {
    background-color: rgb(0, 0, 150);
}

section.imaged button.getStarted {
    width: 326px;
    padding: 16px;
    margin-top: 56px;
    border-radius: 6px;
}

section.imaged button.getStarted span {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 140%;
}

section.videoed {
    width: 100%;
    height: 250vh;
    background-color: rgb(5, 7, 14);
}

section.videoed div.background:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

section.videoed div.contents {
    top: 60%;
    left: 15vw;
    transform: translate(0px, -50%);
}

section.videoed div.contents div.left {
    width: 48px;
    height: 112px;
    gap: 4px;
    padding: 16px 12px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.videoed div.contents div.left {
    line-height: 1;
}

section.videoed div.contents div.left svg {
    fill: #bdc1c7;
    width: 24px;
    height: 24px;
}

section.videoed div.contents div.right {
    margin-left: 24px;
}

section.videoed div.contents div.right h1 {
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 140%;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
}

section.videoed div.contents div.right p {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 140%;
    color: rgb(255, 255, 255);
    white-space: pre-wrap;
}

section.describing {
    max-width: 1300px;
    width: calc(100% - 180px);
    padding: 200px 0px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

section.describing div.contents h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(0deg, rgb(115, 55, 255) 0%, rgb(49, 69, 255) 100%) text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 14px;
}

section.describing div.contents h1 {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 700;
    line-height: normal;
}

section.describing div.contents > p {
    color: rgb(246, 247, 248);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 140%;
    margin-top: 20px;
}

div.percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-top: 64px;
    padding: 64px 0px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.03) 99.94%);
}

div.percentage div.item {
    gap: 12px;
}

div.percentage div.item div.difference {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

div.percentage div.item div.difference span {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 8rem;
    font-weight: 800;
    line-height: 120%;
}

div.percentage div.item div.difference svg {
    width: 56px;
    height: 56px;
    margin-left: 8px;
    fill: #3737cc;
}

div.percentage div.item div.description {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 140%;
}

div.percentage div.item div.base {
    color: rgb(189, 193, 199);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
}

div.mouseover-section {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    gap: 24px;
    width: 100%;
}

div.mouseover-section div.mouseover-view {
    width: 50%;
}

div.mouseover-section div.mouseover-view div.mouseover,
div.mouseover-section div.mouseover-view div.mouseleave {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 588px;
    height: 609px;
    border-radius: 22px;
    padding: 58px 64px;
    cursor: pointer;
}

div.mouseover-section div.mouseover-view div.mouseleave div,
div.mouseover-section div.mouseover-view div.mouseover div {
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 140%;
    white-space: pre-wrap;
    z-index: 2;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

div.mouseover-section div.mouseover-view div.mouseleave div svg,
div.mouseover-section div.mouseover-view div.mouseover div svg {
    fill: #f3eeff;
    stroke: #f3eeff;
    min-width: 56px;
    width: 56px;
    height: 56px;
}

div.mouseover-section div.mouseover-view div.mouseleave {
    background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.14) 99.94%);
}

div.mouseover-section div.mouseover-view div.mouseleave div {
    font-size: clamp(2.4rem, 2.2vw, 3.6rem);
}

img#section-5-1-mouseleave {
    width: 106%;
    position: absolute;
    top: 35px;
    right: -32px;
    pointer-events: none;
}

img#section-5-2-mouseleave {
    width: 86%;
    position: absolute;
    top: 165px;
    right: 45px;
    pointer-events: none;
}

div.mouseover-section div.mouseover-view div.mouseover {
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.5) 0%, rgba(81, 30, 198, 0.35) 100%);
}

div.mouseover-section div.mouseover-view div.mouseover div {
    font-size: clamp(2rem, 1.5vw, 3.2rem);
}

div.mouseover-section div.mouseover-view div.mouseover div svg {
    display: none;
}

img#section-5-1-mouseover-container {
    width: 105%;
    position: absolute;
    top: 34px;
    right: -31px;
    pointer-events: none;
}

video#section-5-1-mouseover-video {
    width: 40%;
    position: absolute;
    top: 220px;
    right: 78px;
    pointer-events: none;
}

img.swapped-image {
    position: absolute;
    top: 210px;
    right: -30px;
    pointer-events: none;
    width: 100%;
}

img.slideshow-wrapper {
    max-width: 722px;
    width: 100%;
    height: auto;
    margin-top: 72px;
}

div.slideshow-image {
    position: absolute;
    top: 45%;
    left: 410px;
    width: 1020px;
}

div.slideshow-image:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 128px;
    width: 160px;
    height: 434px;
    background: linear-gradient(270deg, rgb(12, 16, 25) 0%, rgba(12, 16, 25, 0) 100%);
}

div.slideshow-image .slick-list {
    border-radius: 20px;
}

div.slideshow-image .slick-list .item {
    position: relative;
    width: 307px !important;
    height: 434px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    cursor: pointer;
}

div.slideshow-image .slick-list .item > img {
    width: 100%;
}

div.slideshow-image .slick-list .item p {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    bottom: 28px;
    left: 24px;
    z-index: 1;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 168%;
    color: rgb(255, 255, 255);
}

div.slideshow-image .slick-list .item:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 307px;
    height: 434px;
    opacity: 0.8;
    background: linear-gradient(360deg, rgb(14, 13, 18) 0%, rgba(14, 13, 18, 0) 100%);
    cursor: pointer;
}

div.slideshow-image-handle {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    /* top: -72px;
    left: 85px; */
    top: calc(45% - 72px);
    left: calc(410px + 85px);
    width: auto;
    gap: 16px;
}

div.slideshow-image-handle svg {
    fill: white;
    stroke: #6f757b;
}

div.slideshow-video-container {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    overflow-y: scroll;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    animation: 225ms cubic-bezier(0.4, 0, 0.2, 1) 0s 1 normal forwards running;
}

div.slideshow-video-container div.slideshow-video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 40px;
}

div.slideshow-video-container div.slideshow-video div.slick-slide > div {
    position: relative;
    margin: 0px 20px;
}

div.slideshow-video-container div.slideshow-video video {
    height: 29vw;
    object-fit: cover;
    width: 100%;
    display: inline-block;
}

div.slideshow-video-container div.slideshow-video div.slideshow-video-status {
    position: absolute;
    left: 60px;
    bottom: -70px;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

div.slideshow-video-container div.slideshow-video div.slideshow-video-status img {
    cursor: pointer;
}

div.slideshow-video-container div.slideshow-video div.slideshow-video-status div.slideshow-video-progressbar {
    position: relative;
    overflow: hidden;
    display: block;
    height: 4px;
    z-index: 0;
    margin-left: 16px;
    background-color: rgb(255, 255, 255);
    width: 345px;
}

div.slideshow-video-container div.slideshow-video div.slideshow-video-status div.slideshow-video-progressbar span {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    transition: transform 0.4s linear 0s;
    transform-origin: left center;
    background: -webkit-linear-gradient(268.82deg, rgb(115, 55, 255) 12.24%, rgb(49, 69, 255) 98.89%);
}

section.start-now {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 260px;
    min-height: 200px;
    height: 16vw;
    background: rgb(55, 55, 204);
    flex-direction: column;
}

section.start-now > div {
    display: flex;
    flex-direction: column;
}

section.start-now p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

section.start-now button {
    width: fit-content;
    height: auto;
    background: rgb(230, 232, 235);
    border-radius: 6px;
    padding: 16px 56px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 140%;
    color: rgb(55, 55, 204);
}

section.start-now button:hover {
    text-decoration: none;
    background: rgb(255, 255, 255);
}

div.start-now {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    z-index: 998;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px 0px;
}

div.start-now button {
    width: calc(100% - 40px);
    padding: 12px 20px;
    border-radius: 4px;
    background-color: rgb(55, 55, 204);
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 140%;
}

div.start-now button:hover {
    text-decoration: none;
    background-color: rgb(93, 108, 250);
}

div.start-now button:active {
    background-color: rgb(0, 0, 150);
}

@media screen and (max-width: 1280px) {
    section.videoed div.contents div.right h1 {
        font-size: 4rem;
    }

    section.videoed div.contents div.right p {
        font-size: 2.4rem;
    }

    video#section-5-1-mouseover-video {
        top: 15vw;
        right: 4.75vw;
    }
}

@media screen and (max-width: 1024px) {
    section.imaged {
        max-height: 870px;
    }

    section.imaged div.container {
        max-width: 844px;
    }

    section.imaged div.contents h1 {
        font-size: 4.8rem;
    }

    section.imaged div.contents p {
        font-size: 2.4rem;
    }

    section.imaged button.getStarted {
        width: 243px;
        margin-top: 48px;
    }

    section.imaged button.getStarted span {
        font-size: 2rem;
    }

    section.videoed div.contents div.left {
        width: 36px;
        height: 80px;
        padding: 12px 10px;
    }

    section.videoed div.contents div.left svg {
        width: 16px;
        height: 16px;
    }

    section.videoed div.contents div.right h1 {
        margin-bottom: 8px;
    }

    section.describing {
        max-width: 844px;
        padding: 100px 0px;
    }

    section.describing div.contents h2 {
        font-size: 1.8rem;
        margin-bottom: 8px;
    }

    section.describing div.contents h1 {
        font-size: 3.2rem;
        font-weight: 600;
    }

    section.describing div.contents > p {
        font-size: 1.8rem;
        margin-top: 12px;
    }

    div.percentage {
        margin-top: 40px;
        padding: 48px 0px;
    }

    div.percentage div.item {
        gap: 4px;
    }

    div.percentage div.item div.difference span {
        font-size: 5.6rem;
    }

    div.percentage div.item div.difference svg {
        width: 40px;
        height: 40px;
    }

    div.percentage div.item div.description {
        font-size: 1.8rem;
    }

    div.percentage div.item div.base {
        font-size: 1rem;
    }

    div.mouseover-section {
        margin-top: 40px;
        gap: 28px;
    }

    div.mouseover-section div.mouseover-view div.mouseover,
    div.mouseover-section div.mouseover-view div.mouseleave {
        max-width: 408px;
        height: 420px;
        border-radius: 16px;
        padding: 40px 44px;
    }

    div.mouseover-section div.mouseover-view div.mouseleave div {
        font-size: 2.4rem;
    }

    div.mouseover-section div.mouseover-view div.mouseover div {
        font-size: 2rem;
    }

    div.mouseover-section div.mouseover-view div.mouseleave div svg,
    div.mouseover-section div.mouseover-view div.mouseover div svg {
        min-width: 40px;
        width: 40px;
        height: 40px;
    }

    img#section-5-1-mouseleave {
        width: 107%;
        min-width: 415px;
        top: 17px;
        right: -20px;
    }

    img#section-5-2-mouseleave {
        width: 85%;
        min-width: 320px;
        top: 115px;
        right: 35px;
    }

    img#section-5-1-mouseover-container {
        min-width: 415px;
        top: 20px;
        right: -18px;
    }

    video#section-5-1-mouseover-video {
        min-width: 152px;
        top: 16vw;
        right: 59px;
    }

    img.swapped-image {
        top: 188px;
        right: -12px;
    }

    img.slideshow-wrapper {
        max-width: 280px;
        margin-top: 85px;
    }

    div.slideshow-image {
        left: 50px;
        width: 903px;
    }

    div.slideshow-image:after {
        right: 107px;
        width: 200px;
        height: 404px;
    }

    div.slideshow-image .slick-list .item {
        width: 285px !important;
        height: 404px;
    }

    div.slideshow-image .slick-list .item:after {
        width: 285px;
        height: 404px;
    }

    div.slideshow-image .slick-list .item p {
        bottom: 24px;
        left: 22px;
    }

    div.slideshow-image .slick-list .item p > img {
        width: 22px;
        height: 22px;
    }

    div.slideshow-image-handle {
        left: calc(50px + 48px);
    }

    section.start-now p {
        font-size: 2.8rem;
    }

    section.start-now button {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    section.imaged {
        max-height: 540px;
    }

    section.imaged div.container {
        max-width: 630px;
        width: calc(100% - 140px);
    }

    section.imaged div.contents {
        bottom: 90px;
    }

    section.imaged div.contents h1 {
        font-size: 4.4rem;
    }

    button.getStarted {
        font-size: 1.4rem;
        line-height: 130%;
    }

    section.imaged button.getStarted {
        width: 210px;
        padding: 12px;
        margin-top: 40px;
    }

    section.imaged button.getStarted span {
        font-size: 1.8rem;
    }

    section.videoed div.contents div.right {
        margin-left: 16px;
    }

    section.videoed div.contents div.right h1 {
        font-size: 3.2rem;
    }

    section.videoed div.contents div.right p {
        font-size: 2rem;
    }

    section.describing {
        max-width: 630px;
        width: calc(100% - 140px);
    }

    section.describing div.contents h1 {
        font-size: 2.8rem;
    }

    section.describing div.contents > p {
        font-size: 1.6rem;
    }

    div.percentage {
        margin-top: 32px;
        padding: 32px 0px;
    }

    div.percentage div.item div.difference span {
        font-size: 4rem;
    }

    div.percentage div.item div.difference svg {
        width: 32px;
        height: 32px;
    }

    div.percentage div.item div.description {
        font-size: 1.6rem;
    }

    div.mouseover-section {
        flex-direction: column;
        margin-top: 103px;
        gap: 149px;
    }

    div.mouseover-section div.mouseover-view div.mouseover,
    div.mouseover-section div.mouseover-view div.mouseleave {
        flex-direction: column;
        max-width: 630px;
        height: 250px;
        border-radius: 22px;
        padding: 48px 56px;
    }

    div.mouseover-section div.mouseover-view {
        width: 100%;
    }

    div.mouseover-section div.mouseover-view div.mouseover div,
    div.mouseover-section div.mouseover-view div.mouseleave div {
        flex-direction: column;
        gap: 28px;
    }

    div.mouseover-section div.mouseover-view div.mouseleave div {
        font-size: clamp(1.6rem, 3.2vw, 2.4rem);
    }

    div.mouseover-section div.mouseover-view div.mouseover div {
        font-size: clamp(1.6rem, 2.7vw, 2rem);
    }

    div.mouseover-section div.mouseover-view div.mouseleave div svg,
    div.mouseover-section div.mouseover-view div.mouseover div svg {
        min-width: 36px;
        width: 36px;
        height: 36px;
    }

    img#section-5-1-mouseleave {
        width: 377px;
        min-width: 377px;
        top: -120px;
        right: 5px;
    }

    img#section-5-2-mouseleave {
        width: 326px;
        min-width: 326px;
        top: -52px;
        right: 51px;
    }

    img#section-5-1-mouseover-container {
        width: 380px;
        min-width: 380px;
        top: -120px;
        right: 6px;
    }

    video#section-5-1-mouseover-video {
        width: 157px;
        top: -15px;
        right: 68px;
    }

    img.swapped-image {
        width: 350px;
        top: 10px;
        right: -40px;
    }

    img.slideshow-wrapper {
        display: none;
    }

    div.slideshow-image {
        position: relative;
        top: unset;
        left: unset;
        width: 800px;
        margin-top: 75px;
    }

    div.slideshow-image .slick-list .item {
        width: 252px !important;
        height: 146px;
        cursor: pointer;
    }

    div.slideshow-image .slick-list .item:after {
        top: 0px;
        bottom: unset;
        width: 252px;
        height: 146px;
        opacity: 0.5;
    }

    div.slideshow-image .slick-list .item p {
        top: 20px;
        left: 20px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: normal;
    }

    div.slideshow-image .slick-list .item p > img {
        position: absolute;
        bottom: 22px;
        right: 22px;
        width: unset;
        height: unset;
        z-index: 1;
    }

    div.slideshow-image-handle {
        display: none;
    }

    section.start-now p {
        font-size: 2.4rem;
    }

    section.start-now button {
        padding: 12px 40px;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    section.imaged {
        max-height: 420px;
    }

    section.imaged div.container {
        width: calc(100% - 40px);
    }

    section.imaged div.contents {
        bottom: 70px;
    }

    section.imaged div.contents h1 {
        font-size: 2.4rem;
        margin-bottom: 10px;
    }

    section.imaged div.contents p {
        font-size: 1.6rem;
    }

    section.imaged button.getStarted {
        width: 160px;
        padding: 10px;
        margin-top: 24px;
        border-radius: 4px;
    }

    section.imaged button.getStarted span {
        font-size: 1.4rem;
    }

    section.videoed {
        height: 100vh;
    }

    section.videoed div.contents {
        top: 120px;
        left: 5%;
        transform: unset;
        background-color: unset;
        border-radius: unset;
        padding: 0px;
    }

    section.videoed div.contents div.left {
        width: 26px;
        height: 66px;
        padding: 8px 6px;
    }

    section.videoed div.contents div.left svg {
        width: 14px;
        height: 14px;
    }

    section.videoed div.contents div.right {
        margin-left: 12px;
    }

    section.videoed div.contents div.right h1 {
        font-size: 2.4rem;
    }

    section.videoed div.contents div.right p {
        font-size: 1.4rem;
    }

    section.describing {
        width: calc(100% - 40px);
        padding: 48px 0px;
    }

    section.describing div.contents h2 {
        font-size: 1.4rem;
    }

    section.describing div.contents h1 {
        font-size: 2rem;
    }

    section.describing div.contents > p {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    div.percentage {
        width: fit-content;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 24px auto auto;
        padding: 32px 24px;
        gap: 32px;
    }

    div.percentage div.item {
        gap: 2px;
    }

    div.percentage div.item div.difference span {
        font-size: 3.2rem;
    }

    div.percentage div.item div.difference svg {
        width: 24px;
        height: 24px;
    }

    div.percentage div.item div.description {
        font-size: 1.4rem;
    }

    div.percentage div.item div.base {
        font-size: 0.8rem;
    }

    div.mouseover-section {
        margin-top: 24px;
        gap: 110px;
    }

    div.mouseover-section div.mouseover-view div.mouseover,
    div.mouseover-section div.mouseover-view div.mouseleave {
        max-width: 560px;
        padding: 28px;
    }

    div.mouseover-section div.mouseover-view div.mouseleave div {
        font-size: 1.6rem;
    }

    img#section-5-1-mouseleave {
        width: 53%;
        min-width: 295px;
        top: -12px;
        right: -14px;
    }

    img#section-5-2-mouseleave {
        width: 43%;
        min-width: 240px;
        top: 22px;
        right: 18px;
    }

    div.mouseover-section div.mouseover-view div.mouseover div {
        font-size: 1.6rem;
    }

    div.mouseover-section div.mouseover-view div.mouseover div svg {
        display: block;
    }

    img#section-5-1-mouseover-container {
        width: 40%;
        min-width: 300px;
        top: -15px;
        right: -12px;
    }

    video#section-5-1-mouseover-video {
        min-width: 120px;
        width: 20%;
        top: 70px;
        right: 38px;
    }

    img.swapped-image {
        width: 250px;
        top: 111px;
        right: -10px;
    }

    div.slideshow-image {
        width: 700px;
        margin-top: 29px;
    }

    div.slideshow-image .slick-list .item {
        width: 220px !important;
        height: 128px;
    }

    div.slideshow-image .slick-list .item:after {
        width: 220px;
        height: 128px;
    }

    div.slideshow-image .slick-list .item p {
        font-size: 1.4rem;
        font-weight: 700;
        top: 18px;
        left: 18px;
    }

    div.slideshow-image .slick-list .item p > img {
        width: 24px;
        height: 24px;
        bottom: 16px;
        right: 16px;
    }

    section.start-now p {
        font-size: 1.8rem;
    }

    section.start-now button {
        border-radius: 4px;
        padding: 10px 24px;
        font-size: 1.4rem;
    }
}

@keyframes easeinout {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes showandfade {
    0% {
        opacity: 0;
        display: none;
    }

    1% {
        opacity: 0.01;
        display: flex;
    }

    to {
        opacity: 1;
        display: flex;
    }
}

@keyframes hideandfade {
    0% {
        opacity: 1;
        display: flex;
    }

    99% {
        opacity: 0.01;
        display: flex;
    }

    to {
        opacity: 0;
        display: none;
    }
}
