section.imaged {
    width: 100vw;
    height: 100vh;
    max-height: 970px;
    white-space: pre-wrap;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
}

section.imaged div.container {
    max-width: 1300px;
    width: calc(100% - 180px);
    position: relative;
}

section.imaged div.contents {
    position: absolute;
    bottom: 120px;
    left: 0px;
    width: 100%;
}

section.imaged div.contents h1 {
    color: rgb(230, 232, 235);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

section.imaged div.contents p {
    color: rgb(189, 193, 199);
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 140%;
}

@media screen and (max-width: 1024px) {
    section.imaged {
        max-height: 870px;
    }

    section.imaged div.container {
        max-width: 844px;
    }

    section.imaged div.contents h1 {
        font-size: 4.8rem;
    }

    section.imaged div.contents p {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 768px) {
    section.imaged {
        max-height: 540px;
    }

    section.imaged div.container {
        max-width: 630px;
        width: calc(100% - 140px);
    }

    section.imaged div.contents {
        bottom: 90px;
    }

    section.imaged div.contents h1 {
        font-size: 4.4rem;
    }
}

@media screen and (max-width: 600px) {
    section.imaged {
        max-height: 420px;
    }

    section.imaged div.container {
        width: calc(100% - 40px);
    }

    section.imaged div.contents {
        bottom: 70px;
    }

    section.imaged div.contents h1 {
        font-size: 2.4rem;
        margin-bottom: 10px;
    }

    section.imaged div.contents p {
        font-size: 1.6rem;
    }
}
